body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
  width: 100%;
  padding: 8px;

  box-sizing: border-box;
}

form input[type="radio"] {
  margin-right: 5px;
}

form div div {
  display: flex;
  align-items: center;
}

form button {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
}



h1 {
  text-align: center;
  margin-bottom: 20px;
}
